body {
    margin: 0px;
}

#username {
    position: relative;
    width: 45vw;
    height: 30px;
    top: 15px;
    left: 19px
}

#img {
    display: inline-block;
    position: absolute;
    width: 45vw;
    height: 30px;
    top: 65px;
    left: 19px;
}

#movie {
    display: inline-block;
    position: relative;
    width: 45vw;
    height: 30px;
    top: 65px;
    left: 6.2vw;
}

#comment {
    width: 95.2vw;
    height: 30px;
    top: 80px;
    left: 19px;
    position: relative;
}

#submit {
    display: none;
    position: relative;
    top: 95px;
    left: 19px;
    height: 10vh;
    width: 15vw;
    background-color: #AA2233;
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
}

#bottom {
    position: absolute;
    top: 38vh;
    height: auto;
    width: 100vw;
}

.commentdiv {
    top: -2vh;
    position: relative;
    width: 93.5vw;
    height: 20vh;
    left: 40px;
    background-color: #2233FF;
    color: rgb(255,255,255);
}

.imgdiv {
    position: relative;
    height: 12vh;
    width: 12vh;
    top: 6vh;
    left: 19px;
    background-color: rgb(255,255,0);
    z-index: 1;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.moviediv {
    position: relative;
    z-index: 1;
    height: 16vh;
    width: 9vw;
    top: -46vh;
    left: 88.4vw;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.usernamediv {
    position: relative;
    background-color: #55FF55;
    height: 10vh;
    width: 15vw;
    left: 82.4vw;
    top: -9vh;
}

.utxt {
    position: relative;
    width: 15vw;
    height: 3vh;
    font-size: 15px;
    top: 3vh;
    left: 0.2vw;
}

.ctxt {
    position: relative;
    width: 91.5vw;
    height: 2vh;
    top: 9vh;
    left: 2vw;
    font-size: 1.3vw;
    font-family:sans-serif;
}

.holder {
    position: relative;
    width: 100vw;
    height: 40vh;
    margin: 0 0 10px 0;
}